=begin
#Coinbase Platform API

#This is the OpenAPI 3.0 specification for the Coinbase Platform APIs, used in conjunction with the Coinbase Platform SDKs.

The version of the OpenAPI document: 0.0.1-alpha

Generated by: https://openapi-generator.tech
Generator version: 7.8.0

=end

require 'cgi'

module Coinbase::Client
  class ContractInvocationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Broadcast a contract invocation.
    # Broadcast a contract invocation.
    # @param wallet_id [String] The ID of the wallet the address belongs to.
    # @param address_id [String] The ID of the address the contract invocation belongs to.
    # @param contract_invocation_id [String] The ID of the contract invocation to broadcast.
    # @param broadcast_contract_invocation_request [BroadcastContractInvocationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ContractInvocation]
    def broadcast_contract_invocation(wallet_id, address_id, contract_invocation_id, broadcast_contract_invocation_request, opts = {})
      data, _status_code, _headers = broadcast_contract_invocation_with_http_info(wallet_id, address_id, contract_invocation_id, broadcast_contract_invocation_request, opts)
      data
    end

    # Broadcast a contract invocation.
    # Broadcast a contract invocation.
    # @param wallet_id [String] The ID of the wallet the address belongs to.
    # @param address_id [String] The ID of the address the contract invocation belongs to.
    # @param contract_invocation_id [String] The ID of the contract invocation to broadcast.
    # @param broadcast_contract_invocation_request [BroadcastContractInvocationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContractInvocation, Integer, Hash)>] ContractInvocation data, response status code and response headers
    def broadcast_contract_invocation_with_http_info(wallet_id, address_id, contract_invocation_id, broadcast_contract_invocation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContractInvocationsApi.broadcast_contract_invocation ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling ContractInvocationsApi.broadcast_contract_invocation"
      end
      # verify the required parameter 'address_id' is set
      if @api_client.config.client_side_validation && address_id.nil?
        fail ArgumentError, "Missing the required parameter 'address_id' when calling ContractInvocationsApi.broadcast_contract_invocation"
      end
      # verify the required parameter 'contract_invocation_id' is set
      if @api_client.config.client_side_validation && contract_invocation_id.nil?
        fail ArgumentError, "Missing the required parameter 'contract_invocation_id' when calling ContractInvocationsApi.broadcast_contract_invocation"
      end
      # verify the required parameter 'broadcast_contract_invocation_request' is set
      if @api_client.config.client_side_validation && broadcast_contract_invocation_request.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_contract_invocation_request' when calling ContractInvocationsApi.broadcast_contract_invocation"
      end
      # resource path
      local_var_path = '/v1/wallets/{wallet_id}/addresses/{address_id}/contract_invocations/{contract_invocation_id}/broadcast'.sub('{' + 'wallet_id' + '}', CGI.escape(wallet_id.to_s)).sub('{' + 'address_id' + '}', CGI.escape(address_id.to_s)).sub('{' + 'contract_invocation_id' + '}', CGI.escape(contract_invocation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(broadcast_contract_invocation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ContractInvocation'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ContractInvocationsApi.broadcast_contract_invocation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractInvocationsApi#broadcast_contract_invocation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new contract invocation for an address.
    # Create a new contract invocation.
    # @param wallet_id [String] The ID of the wallet the source address belongs to.
    # @param address_id [String] The ID of the address to invoke the contract from.
    # @param create_contract_invocation_request [CreateContractInvocationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ContractInvocation]
    def create_contract_invocation(wallet_id, address_id, create_contract_invocation_request, opts = {})
      data, _status_code, _headers = create_contract_invocation_with_http_info(wallet_id, address_id, create_contract_invocation_request, opts)
      data
    end

    # Create a new contract invocation for an address.
    # Create a new contract invocation.
    # @param wallet_id [String] The ID of the wallet the source address belongs to.
    # @param address_id [String] The ID of the address to invoke the contract from.
    # @param create_contract_invocation_request [CreateContractInvocationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContractInvocation, Integer, Hash)>] ContractInvocation data, response status code and response headers
    def create_contract_invocation_with_http_info(wallet_id, address_id, create_contract_invocation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContractInvocationsApi.create_contract_invocation ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling ContractInvocationsApi.create_contract_invocation"
      end
      # verify the required parameter 'address_id' is set
      if @api_client.config.client_side_validation && address_id.nil?
        fail ArgumentError, "Missing the required parameter 'address_id' when calling ContractInvocationsApi.create_contract_invocation"
      end
      # verify the required parameter 'create_contract_invocation_request' is set
      if @api_client.config.client_side_validation && create_contract_invocation_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_contract_invocation_request' when calling ContractInvocationsApi.create_contract_invocation"
      end
      # resource path
      local_var_path = '/v1/wallets/{wallet_id}/addresses/{address_id}/contract_invocations'.sub('{' + 'wallet_id' + '}', CGI.escape(wallet_id.to_s)).sub('{' + 'address_id' + '}', CGI.escape(address_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_contract_invocation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ContractInvocation'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ContractInvocationsApi.create_contract_invocation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractInvocationsApi#create_contract_invocation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a contract invocation by ID.
    # Get a contract invocation by ID.
    # @param wallet_id [String] The ID of the wallet the address belongs to.
    # @param address_id [String] The ID of the address the contract invocation belongs to.
    # @param contract_invocation_id [String] The ID of the contract invocation to fetch.
    # @param [Hash] opts the optional parameters
    # @return [ContractInvocation]
    def get_contract_invocation(wallet_id, address_id, contract_invocation_id, opts = {})
      data, _status_code, _headers = get_contract_invocation_with_http_info(wallet_id, address_id, contract_invocation_id, opts)
      data
    end

    # Get a contract invocation by ID.
    # Get a contract invocation by ID.
    # @param wallet_id [String] The ID of the wallet the address belongs to.
    # @param address_id [String] The ID of the address the contract invocation belongs to.
    # @param contract_invocation_id [String] The ID of the contract invocation to fetch.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContractInvocation, Integer, Hash)>] ContractInvocation data, response status code and response headers
    def get_contract_invocation_with_http_info(wallet_id, address_id, contract_invocation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContractInvocationsApi.get_contract_invocation ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling ContractInvocationsApi.get_contract_invocation"
      end
      # verify the required parameter 'address_id' is set
      if @api_client.config.client_side_validation && address_id.nil?
        fail ArgumentError, "Missing the required parameter 'address_id' when calling ContractInvocationsApi.get_contract_invocation"
      end
      # verify the required parameter 'contract_invocation_id' is set
      if @api_client.config.client_side_validation && contract_invocation_id.nil?
        fail ArgumentError, "Missing the required parameter 'contract_invocation_id' when calling ContractInvocationsApi.get_contract_invocation"
      end
      # resource path
      local_var_path = '/v1/wallets/{wallet_id}/addresses/{address_id}/contract_invocations/{contract_invocation_id}'.sub('{' + 'wallet_id' + '}', CGI.escape(wallet_id.to_s)).sub('{' + 'address_id' + '}', CGI.escape(address_id.to_s)).sub('{' + 'contract_invocation_id' + '}', CGI.escape(contract_invocation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContractInvocation'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ContractInvocationsApi.get_contract_invocation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractInvocationsApi#get_contract_invocation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List contract invocations for an address.
    # List contract invocations for an address.
    # @param wallet_id [String] The ID of the wallet the address belongs to.
    # @param address_id [String] The ID of the address to list contract invocations for.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.
    # @option opts [String] :page A cursor for pagination across multiple pages of results. Don&#39;t include this parameter on the first call. Use the next_page value returned in a previous response to request subsequent results.
    # @return [ContractInvocationList]
    def list_contract_invocations(wallet_id, address_id, opts = {})
      data, _status_code, _headers = list_contract_invocations_with_http_info(wallet_id, address_id, opts)
      data
    end

    # List contract invocations for an address.
    # List contract invocations for an address.
    # @param wallet_id [String] The ID of the wallet the address belongs to.
    # @param address_id [String] The ID of the address to list contract invocations for.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.
    # @option opts [String] :page A cursor for pagination across multiple pages of results. Don&#39;t include this parameter on the first call. Use the next_page value returned in a previous response to request subsequent results.
    # @return [Array<(ContractInvocationList, Integer, Hash)>] ContractInvocationList data, response status code and response headers
    def list_contract_invocations_with_http_info(wallet_id, address_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContractInvocationsApi.list_contract_invocations ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling ContractInvocationsApi.list_contract_invocations"
      end
      # verify the required parameter 'address_id' is set
      if @api_client.config.client_side_validation && address_id.nil?
        fail ArgumentError, "Missing the required parameter 'address_id' when calling ContractInvocationsApi.list_contract_invocations"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'].to_s.length > 5000
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ContractInvocationsApi.list_contract_invocations, the character length must be smaller than or equal to 5000.'
      end

      # resource path
      local_var_path = '/v1/wallets/{wallet_id}/addresses/{address_id}/contract_invocations'.sub('{' + 'wallet_id' + '}', CGI.escape(wallet_id.to_s)).sub('{' + 'address_id' + '}', CGI.escape(address_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContractInvocationList'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ContractInvocationsApi.list_contract_invocations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractInvocationsApi#list_contract_invocations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
