=begin
#Coinbase Platform API

#This is the OpenAPI 3.0 specification for the Coinbase Platform APIs, used in conjunction with the Coinbase Platform SDKs.

The version of the OpenAPI document: 0.0.1-alpha

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module Coinbase::Client
  class ReputationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get the onchain reputation of an external address
    # Get the onchain reputation of an external address
    # @param network_id [String] The ID of the blockchain network.
    # @param address_id [String] The ID of the address to fetch the reputation for.
    # @param [Hash] opts the optional parameters
    # @return [AddressReputation]
    def get_address_reputation(network_id, address_id, opts = {})
      data, _status_code, _headers = get_address_reputation_with_http_info(network_id, address_id, opts)
      data
    end

    # Get the onchain reputation of an external address
    # Get the onchain reputation of an external address
    # @param network_id [String] The ID of the blockchain network.
    # @param address_id [String] The ID of the address to fetch the reputation for.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddressReputation, Integer, Hash)>] AddressReputation data, response status code and response headers
    def get_address_reputation_with_http_info(network_id, address_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReputationApi.get_address_reputation ...'
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling ReputationApi.get_address_reputation"
      end
      # verify the required parameter 'address_id' is set
      if @api_client.config.client_side_validation && address_id.nil?
        fail ArgumentError, "Missing the required parameter 'address_id' when calling ReputationApi.get_address_reputation"
      end
      # resource path
      local_var_path = '/v1/networks/{network_id}/addresses/{address_id}/reputation'.sub('{' + 'network_id' + '}', CGI.escape(network_id.to_s)).sub('{' + 'address_id' + '}', CGI.escape(address_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AddressReputation'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReputationApi.get_address_reputation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReputationApi#get_address_reputation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
