=begin
#Coinbase Platform API

#This is the OpenAPI 3.0 specification for the Coinbase Platform APIs, used in conjunction with the Coinbase Platform SDKs.

The version of the OpenAPI document: 0.0.1-alpha
Contact: yuga.cohler@coinbase.com
Generated by: https://openapi-generator.tech
Generator version: 7.6.0

=end

require 'cgi'

module Coinbase::Client
  class SendsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Broadcast a send
    # Broadcast a send given the signed transaction payload.
    # @param network_id [String] The ID of the network the address belongs to
    # @param address_id [String] The ID of the address to send from
    # @param send_id [String] The ID of the send to fetch
    # @param broadcast_send_request [BroadcastSendRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ModelSend]
    def broadcast_send(network_id, address_id, send_id, broadcast_send_request, opts = {})
      data, _status_code, _headers = broadcast_send_with_http_info(network_id, address_id, send_id, broadcast_send_request, opts)
      data
    end

    # Broadcast a send
    # Broadcast a send given the signed transaction payload.
    # @param network_id [String] The ID of the network the address belongs to
    # @param address_id [String] The ID of the address to send from
    # @param send_id [String] The ID of the send to fetch
    # @param broadcast_send_request [BroadcastSendRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelSend, Integer, Hash)>] ModelSend data, response status code and response headers
    def broadcast_send_with_http_info(network_id, address_id, send_id, broadcast_send_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendsApi.broadcast_send ...'
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling SendsApi.broadcast_send"
      end
      # verify the required parameter 'address_id' is set
      if @api_client.config.client_side_validation && address_id.nil?
        fail ArgumentError, "Missing the required parameter 'address_id' when calling SendsApi.broadcast_send"
      end
      # verify the required parameter 'send_id' is set
      if @api_client.config.client_side_validation && send_id.nil?
        fail ArgumentError, "Missing the required parameter 'send_id' when calling SendsApi.broadcast_send"
      end
      # verify the required parameter 'broadcast_send_request' is set
      if @api_client.config.client_side_validation && broadcast_send_request.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_send_request' when calling SendsApi.broadcast_send"
      end
      # resource path
      local_var_path = '/v1/networks/{network_id}/addresses/{address_id}/sends/{send_id}/broadcast'.sub('{' + 'network_id' + '}', CGI.escape(network_id.to_s)).sub('{' + 'address_id' + '}', CGI.escape(address_id.to_s)).sub('{' + 'send_id' + '}', CGI.escape(send_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(broadcast_send_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ModelSend'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SendsApi.broadcast_send",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendsApi#broadcast_send\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Build a new send
    # Build a new send
    # @param network_id [String] The ID of the network the address belongs to
    # @param address_id [String] The ID of the address to send from
    # @param amount [String] The amount to send
    # @param asset_id [String] The ID of the asset to send
    # @param destination [String] The destination address the asset is being sent to
    # @param [Hash] opts the optional parameters
    # @option opts [String] :wallet_id The optional ID of the wallet the address belongs to. If the address is an external address, this field is not required.
    # @return [ModelSend]
    def build_send(network_id, address_id, amount, asset_id, destination, opts = {})
      data, _status_code, _headers = build_send_with_http_info(network_id, address_id, amount, asset_id, destination, opts)
      data
    end

    # Build a new send
    # Build a new send
    # @param network_id [String] The ID of the network the address belongs to
    # @param address_id [String] The ID of the address to send from
    # @param amount [String] The amount to send
    # @param asset_id [String] The ID of the asset to send
    # @param destination [String] The destination address the asset is being sent to
    # @param [Hash] opts the optional parameters
    # @option opts [String] :wallet_id The optional ID of the wallet the address belongs to. If the address is an external address, this field is not required.
    # @return [Array<(ModelSend, Integer, Hash)>] ModelSend data, response status code and response headers
    def build_send_with_http_info(network_id, address_id, amount, asset_id, destination, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendsApi.build_send ...'
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling SendsApi.build_send"
      end
      # verify the required parameter 'address_id' is set
      if @api_client.config.client_side_validation && address_id.nil?
        fail ArgumentError, "Missing the required parameter 'address_id' when calling SendsApi.build_send"
      end
      # verify the required parameter 'amount' is set
      if @api_client.config.client_side_validation && amount.nil?
        fail ArgumentError, "Missing the required parameter 'amount' when calling SendsApi.build_send"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling SendsApi.build_send"
      end
      # verify the required parameter 'destination' is set
      if @api_client.config.client_side_validation && destination.nil?
        fail ArgumentError, "Missing the required parameter 'destination' when calling SendsApi.build_send"
      end
      # resource path
      local_var_path = '/v1/networks/{network_id}/addresses/{address_id}/sends/build'.sub('{' + 'network_id' + '}', CGI.escape(network_id.to_s)).sub('{' + 'address_id' + '}', CGI.escape(address_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'amount'] = amount
      query_params[:'asset_id'] = asset_id
      query_params[:'destination'] = destination
      query_params[:'wallet_id'] = opts[:'wallet_id'] if !opts[:'wallet_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModelSend'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SendsApi.build_send",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendsApi#build_send\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new send
    # Create a new send
    # @param network_id [String] The ID of the network the address belongs to
    # @param address_id [String] The ID of the address to send from
    # @param create_send_request [CreateSendRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ModelSend]
    def create_send(network_id, address_id, create_send_request, opts = {})
      data, _status_code, _headers = create_send_with_http_info(network_id, address_id, create_send_request, opts)
      data
    end

    # Create a new send
    # Create a new send
    # @param network_id [String] The ID of the network the address belongs to
    # @param address_id [String] The ID of the address to send from
    # @param create_send_request [CreateSendRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelSend, Integer, Hash)>] ModelSend data, response status code and response headers
    def create_send_with_http_info(network_id, address_id, create_send_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendsApi.create_send ...'
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling SendsApi.create_send"
      end
      # verify the required parameter 'address_id' is set
      if @api_client.config.client_side_validation && address_id.nil?
        fail ArgumentError, "Missing the required parameter 'address_id' when calling SendsApi.create_send"
      end
      # verify the required parameter 'create_send_request' is set
      if @api_client.config.client_side_validation && create_send_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_send_request' when calling SendsApi.create_send"
      end
      # resource path
      local_var_path = '/v1/networks/{network_id}/addresses/{address_id}/sends'.sub('{' + 'network_id' + '}', CGI.escape(network_id.to_s)).sub('{' + 'address_id' + '}', CGI.escape(address_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_send_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ModelSend'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SendsApi.create_send",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendsApi#create_send\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a send by ID
    # Get a send for a given address by ID
    # @param network_id [String] The ID of the network the address belongs to
    # @param address_id [String] The ID of the address to send from
    # @param send_id [String] The ID of the send to fetch
    # @param [Hash] opts the optional parameters
    # @return [ModelSend]
    def get_send(network_id, address_id, send_id, opts = {})
      data, _status_code, _headers = get_send_with_http_info(network_id, address_id, send_id, opts)
      data
    end

    # Get a send by ID
    # Get a send for a given address by ID
    # @param network_id [String] The ID of the network the address belongs to
    # @param address_id [String] The ID of the address to send from
    # @param send_id [String] The ID of the send to fetch
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelSend, Integer, Hash)>] ModelSend data, response status code and response headers
    def get_send_with_http_info(network_id, address_id, send_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendsApi.get_send ...'
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling SendsApi.get_send"
      end
      # verify the required parameter 'address_id' is set
      if @api_client.config.client_side_validation && address_id.nil?
        fail ArgumentError, "Missing the required parameter 'address_id' when calling SendsApi.get_send"
      end
      # verify the required parameter 'send_id' is set
      if @api_client.config.client_side_validation && send_id.nil?
        fail ArgumentError, "Missing the required parameter 'send_id' when calling SendsApi.get_send"
      end
      # resource path
      local_var_path = '/v1/networks/{network_id}/addresses/{address_id}/sends/{send_id}'.sub('{' + 'network_id' + '}', CGI.escape(network_id.to_s)).sub('{' + 'address_id' + '}', CGI.escape(address_id.to_s)).sub('{' + 'send_id' + '}', CGI.escape(send_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ModelSend'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SendsApi.get_send",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendsApi#get_send\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List sends for an address.
    # Returns a paginated list of sends for an address.
    # @param network_id [String] The ID of the network the address belongs to
    # @param address_id [String] The ID of the address to send from
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.
    # @option opts [String] :page A cursor for pagination across multiple pages of results. Don&#39;t include this parameter on the first call. Use the next_page value returned in a previous response to request subsequent results.
    # @return [SendList]
    def list_sends(network_id, address_id, opts = {})
      data, _status_code, _headers = list_sends_with_http_info(network_id, address_id, opts)
      data
    end

    # List sends for an address.
    # Returns a paginated list of sends for an address.
    # @param network_id [String] The ID of the network the address belongs to
    # @param address_id [String] The ID of the address to send from
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.
    # @option opts [String] :page A cursor for pagination across multiple pages of results. Don&#39;t include this parameter on the first call. Use the next_page value returned in a previous response to request subsequent results.
    # @return [Array<(SendList, Integer, Hash)>] SendList data, response status code and response headers
    def list_sends_with_http_info(network_id, address_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendsApi.list_sends ...'
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling SendsApi.list_sends"
      end
      # verify the required parameter 'address_id' is set
      if @api_client.config.client_side_validation && address_id.nil?
        fail ArgumentError, "Missing the required parameter 'address_id' when calling SendsApi.list_sends"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'].to_s.length > 5000
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling SendsApi.list_sends, the character length must be smaller than or equal to 5000.'
      end

      # resource path
      local_var_path = '/v1/networks/{network_id}/addresses/{address_id}/sends'.sub('{' + 'network_id' + '}', CGI.escape(network_id.to_s)).sub('{' + 'address_id' + '}', CGI.escape(address_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SendList'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SendsApi.list_sends",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendsApi#list_sends\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
