=begin
#Coinbase Platform API

#This is the OpenAPI 3.0 specification for the Coinbase Platform APIs, used in conjunction with the Coinbase Platform SDKs.

The version of the OpenAPI document: 0.0.1-alpha
Contact: yuga.cohler@coinbase.com
Generated by: https://openapi-generator.tech
Generator version: 7.6.0

=end

require 'cgi'

module Coinbase::Client
  class ValidatorsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get a validator belonging to the CDP project
    # Get a validator belonging to the user for a given network, asset and id.
    # @param network_id [String] The ID of the blockchain network.
    # @param asset_id [String] The symbol of the asset to get the validator for.
    # @param validator_id [String] The unique id of the validator to fetch details for.
    # @param [Hash] opts the optional parameters
    # @return [Validator]
    def get_validator(network_id, asset_id, validator_id, opts = {})
      data, _status_code, _headers = get_validator_with_http_info(network_id, asset_id, validator_id, opts)
      data
    end

    # Get a validator belonging to the CDP project
    # Get a validator belonging to the user for a given network, asset and id.
    # @param network_id [String] The ID of the blockchain network.
    # @param asset_id [String] The symbol of the asset to get the validator for.
    # @param validator_id [String] The unique id of the validator to fetch details for.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Validator, Integer, Hash)>] Validator data, response status code and response headers
    def get_validator_with_http_info(network_id, asset_id, validator_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ValidatorsApi.get_validator ...'
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling ValidatorsApi.get_validator"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling ValidatorsApi.get_validator"
      end
      # verify the required parameter 'validator_id' is set
      if @api_client.config.client_side_validation && validator_id.nil?
        fail ArgumentError, "Missing the required parameter 'validator_id' when calling ValidatorsApi.get_validator"
      end
      # resource path
      local_var_path = '/v1/networks/{network_id}/assets/{asset_id}/validators/{validator_id}'.sub('{' + 'network_id' + '}', CGI.escape(network_id.to_s)).sub('{' + 'asset_id' + '}', CGI.escape(asset_id.to_s)).sub('{' + 'validator_id' + '}', CGI.escape(validator_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Validator'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ValidatorsApi.get_validator",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ValidatorsApi#get_validator\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List validators belonging to the CDP project
    # List validators belonging to the user for a given network and asset.
    # @param network_id [String] The ID of the blockchain network.
    # @param asset_id [String] The symbol of the asset to get the validators for.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status A filter to list validators based on a status.
    # @option opts [Integer] :limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 50.
    # @option opts [String] :page A cursor for pagination across multiple pages of results. Don&#39;t include this parameter on the first call. Use the next_page value returned in a previous response to request subsequent results.
    # @return [ValidatorList]
    def list_validators(network_id, asset_id, opts = {})
      data, _status_code, _headers = list_validators_with_http_info(network_id, asset_id, opts)
      data
    end

    # List validators belonging to the CDP project
    # List validators belonging to the user for a given network and asset.
    # @param network_id [String] The ID of the blockchain network.
    # @param asset_id [String] The symbol of the asset to get the validators for.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status A filter to list validators based on a status.
    # @option opts [Integer] :limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 50.
    # @option opts [String] :page A cursor for pagination across multiple pages of results. Don&#39;t include this parameter on the first call. Use the next_page value returned in a previous response to request subsequent results.
    # @return [Array<(ValidatorList, Integer, Hash)>] ValidatorList data, response status code and response headers
    def list_validators_with_http_info(network_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ValidatorsApi.list_validators ...'
      end
      # verify the required parameter 'network_id' is set
      if @api_client.config.client_side_validation && network_id.nil?
        fail ArgumentError, "Missing the required parameter 'network_id' when calling ValidatorsApi.list_validators"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling ValidatorsApi.list_validators"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'].to_s.length > 5000
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ValidatorsApi.list_validators, the character length must be smaller than or equal to 5000.'
      end

      # resource path
      local_var_path = '/v1/networks/{network_id}/assets/{asset_id}/validators'.sub('{' + 'network_id' + '}', CGI.escape(network_id.to_s)).sub('{' + 'asset_id' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ValidatorList'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ValidatorsApi.list_validators",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ValidatorsApi#list_validators\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
