name: Run Linters

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.4

    - name: Install dependencies
      run: |
        gem install bundler -v 2.4.22
        bundle install --jobs 4 --retry 3

    - name: Run linters
      run: bundle exec rubocop
